.morphContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
}

.container-content {
  flex-grow: 1;
  padding: 1em;
}

.logo {
  max-height: 4vh;
}

#input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#your-inspirations{
  display: flex;
  flex-direction: column;
  align-self: center;
  
}

#additional-inspirations{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1em auto;
}

.inputImage{
  max-width: 200px;
  max-height: 200px;
}

.inspirationImage{
  max-width: 256px;
  max-height: 256px;
}

#others{
  margin-top: 1em;
  
}